<%= form_with(model: @cafe, url: @cafe.new_record? ? cafes_path : update_cafe_path(@cafe), method: @cafe.new_record? ? :post : :patch, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>

  <div class="container">
    <% if @cafe.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@cafe.errors.count, "error") %> prohibited this cafe from being saved:</h2>
        <ul>
          <% @cafe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <%= form.label :name, class: 'col-sm-2 col-form-label text-primary' %>
      <div class="col-sm-10">
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :city, class: 'col-sm-2 col-form-label text-primary' %>
      <div class="col-sm-10">
        <%= form.text_field :city, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="row mb-3">
      <%= form.label :address, class: 'col-sm-2 col-form-label text-primary' %>
      <div class="col-sm-10">
        <%= form.text_field :address, class: 'form-control', required: true %>
      </div>
    </div>

   <div class="row mb-3">
  <%= form.label :phone, class: 'col-sm-2 col-form-label text-primary' %>
  <div class="col-sm-10">
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :pin_code, class: 'col-sm-2 col-form-label text-primary' %>
  <div class="col-sm-10">
    <%= form.text_field :pin_code, class: 'form-control', required: true %>
  </div>
</div>

  

    <div class="row mb-3">
      <%= form.label :email, class: 'col-sm-2 col-form-label text-primary' %>
      <div class="col-sm-10">
        <%= form.text_field :email, class: 'form-control', required: true %>
      </div>
    </div>

     <div class="row mb-3">
    <%= form.label :image, class: 'col-sm-2 col-form-label text-primary' %>
    <div class="col-sm-10">
      <%= form.file_field :image, class: 'form-control' %>
    </div>
  </div>

   <% binding.pry %>
 <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
<% end %>
